<!DOCTYPE html>
<html ng-app="portfolioApp">
  <head>
    <title>Portfolio onekwan</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script>
        angular.module("portfolioApp",["ngRoute"])
                .constant("baseUrl","/")
                .config(function($routeProvider,$locationProvider){
                  $locationProvider.html5Mode({
                    enabled: true,
                    requireBase: false
                  });
                  $routeProvider.when("/detail/:id",{
                    templateUrl : "/detail.html"
                  });
                  $routeProvider.otherwise({
                    templateUrl : "/list.html"
                  })
                })
                .controller("defaultCtrl",function($scope,$http,$location){
                  $scope.goDetail = function(){
                    $location.path("/detail")
                  }
                })
    </script>
  </head>
  <body ng-controller="defaultCtrl">
  </body>
</html>
